@import "tailwindcss";

*{
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100dvh;
  background-color: gray;
}

.anim{
  display: block;
  text-wrap: nowrap;
  width: 65px;
  animation: typing 1s steps(4) infinite alternate;
  overflow: hidden;
}
@keyframes typing {
  from{
    width: 0;
  }to{
    width: 65px;
  }
}